<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code %>
  
<% else %>
<h4><%=@title %></h4>
<%= simple_form_for @part_production do |f| %>    

  <%= f.input :part_name, :label => t("Part Name") %> 
  <%= f.input :drawing_num, :label => t("Drawing#") %> 
  <%= f.input :batch_num, :label => t("Batch#") %> 
  <%= f.input :requirement, :label => t("Requirement"), :input_html => {:rows => 2} %> 
  <%= f.input :qty, :label => t("Qty") %>
  <%= f.input :start_date, :label => t("Start Date"), :as => :string %> 
  <%= f.input :finish_date, :label => t("Finish Date"), :as => :string %> 
  <%= f.input :qty_produced, :label => t("Qty Produced"), :readonly => readonly?(@part_production, 'qty_produced') %>
  <% if readonly?(@part_production, 'void')%>
     <%= f.input :void_noupdate, :label => t('Void'), :readonly => true, :required => false, :input_html => {:value => @part_production.expedite} %>
  <% else %>
     <%= f.input :void, :label => t('Void'), :as => :boolean %>
  <% end %>
  <% if readonly?(@part_production, 'completed')%>
     <%= f.input :completed_noupdate, :label => t('Completed'), :readonly => true, :required => false, :input_html => {:value => @part_production.completed} %>
  <% else %>
     <%= f.input :completed, :label => t('Completed'), :as => :boolean %>
  <% end %>
  <%= f.input :actual_finish_date, :label => t("Actual Finish Date"), :as => :string %> 
  <%= render inline: @aux_erb_code, locals: {f: f} if @aux_resource %>
    
  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %> 
<% end %>
   

<% end %>


